<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title>Figma Project</title>
       <link rel="stylesheet" href="../css/index.css" />
  
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <script sript src="https://kit.fontawesome.com/fda2e50.js813" crossorigin="anonymous"></script>
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Arimo&family=Dancing+Script:wght@400;500&family=Inconsolata:wght@200..900&family=Luxurious+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap" rel="stylesheet">
    </head>
 <body>
   <main>
      <section class="section1">
        <nav>
          <ul>
             <li class="logo">
              <img class="black" src="../images/logo 1.png" alt="logo" />
              <img class="white" src="../images/logo 2.png" alt="logo" />
            </li>
            <li class="group">
              <a href="views/about.html">About me</a>
              <a href="views/skills.html">Skills</a>
              <a href="views/portfolio.html">Portfolio</a>
              <a class="contactMe"href="views/contact me.html">CONTACT ME</a>
            </li>
            <li class="menu dropdown">
              <img class="dropbtn" src="../images/menu-icon.png" alt="menu" />
              <div class="dropdown-content">
                <a href="#">About me</a>
                <a href="#">Skills</a>
                <a href="#">Portfolio</a>
                <a class="contactMe" href="#">CONTACT ME</a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="line1">
          <div class="boxa">
            <div class="desktop">
              <p class="one">Hi, I am</p>
              <p class="two">Tomasz Gajda</p>
              <p class="three">Front-end Developer / UI Designer</p>
            </div>
            <div class="mobile">
              <p class="one">my name is Thomas</p>
              <p class="two">I'M A DEVELOPER</p>
              <p class="three"></p>
            </div>
            <div class="icons">
              <div class="icon1 i"></div>
              <div class="icon2 i"></div>
              <div class="icon3 i"></div>
            </div>
          </div>
          <div class="boxb">
            <div class="text">
              this is not my photo, but I dearly hope to get one just like this
            </div>
           </div>
        </div>
      </section>
      
      <div class="berries">
        <div class="beri">
           
          <h5>IT BERRIES</h5>
              <p class="spanish">Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna
               quis libero viverra facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, in semper sem magna quis
               tellus. Etiam enim erat, suscipit eu semper a, dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. Pellentesque
               laoreet varius turpis vel pharetra. Ut ante justo, consequat vitae elementum tempor, accumsan nec
               eros.</p>
               
               
            <div class="readlines">
                <div class="read-one1"></div>
                <p class="reaad">READ MORE</p>
                <div class="read-two2"></div>
            </div>
          </div>
      

            <div class="picture">
              <div class="pict">
                <img class="pics" src="../images/Rectangle 26.png" alt="rec-26" />
              </div>
            </div>
        </div>
      </section>
     <div class="section-2">

      <div class="about-me">
        <div class="about-box">ABOUT ME</div>
      </div>
        
        <div class="nuel">
          <div class="nuels">
            <p class="nulla">Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem <br>sed viverra. In
              vel urna quis libero viverra facilisis ut ac est.</p>
          </div>
        </div>

      <div class="explorelines">
          <div class="explore1"></div>
          <p class="exxplore">EXPLORE</p>
          <div class="explore2"></div>
      </div>
         
    
      <div class="mobilee">
        <p class="threee"></p>
     </div>


      <div class="design-dev">
        <div class="design">
            <h3>DESIGN</h3>
            <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you 
             during the job.</p>
        </div>
         
        <div class="dev">
           <h3>DEVELOPMENT</h3>
           <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
         </div>
      </div>
          
        <div class="mentainance">
           <div class="maintain">
              <h3 class="tenance">MAINTENANCE</h3>
              <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during 
                the job.</p>
           </div>
        </div>

       <div class="mobilee-2">
        <p class="threee-2"></p>
     </div>


      <div class="the-skill">
           <div class="skill-box">SKILLS</div>
      </div>
       
      
      <div class="all-icons">

           <h3 class="using">USING NOW:</h3>
      
          <div class="first-line-icons">
             <div class="html-image">
                <img class="separator-block" src="../images/html-icon.svg" alt="img" />
              <p class="one">HTML5</p>  
            </div>

            <div class="html-image">
             <img class="css" src="../images/css-icon.svg" alt="img" />
             <p class="two">CSS3</p>
            </div>

           <div class="html-image">
             <img class="sass-image" src="../images/Saas-icon.svg" alt="img" />
             <p class="three">SASS</p>
           </div>

           <div class="html-image">
             <img class="java-image" src="../images/java-icon.svg" alt="img" />
             <p class="four">JAVASCRIPT</p>
           </div>
          </div>
         
          <div class="second-line">
             <div class="react-image">
               <img class="react" src="../images/React-icon.svg" alt="img" />
               <p class="five">REACT</p>
             </div>

            <div class="react-image">
               <img class="bootstrap-icon" src="../images/bootstrap-solid.png" alt="img" />
               <p class="six">BOOTSTRAP</p>
            </div>

            <div class="react-image">
               <img class="git-icon" src="../images/Git-Icon.png" alt="img" />
               <p class="seven">GIT</p>
            </div>

            <div class="react-image">
               <img class="figma-icon" src="../images/figma-icon.png" alt="img" />
               <p class="eight">FIGMA</p>
            </div>
         </div>
    

       <h3 class="learning">LEARNING:</h3>
       <div class="thrid-line-icons">
        <div class="node-image">
           <img class="node-icon" src="../images/nodejs-icon.png" alt="img" />
          <p>NODEJS</p>
        </div>

        <div class="node-image">
           <img class="mysql-icon" src="../images/MySQL-icon.png" alt="img" />
           <p>MySQL</p>
        </div>

        <div class="node-image">
           <img class="mongodg-icon" src="../images/MONGODG-Icon.png" alt="img" />
           <p>MONGODB</p>
        </div>

        <div class="node-image">
          <img class="typescript-icon" src="../images/TYPESCRIPT.png" alt="img" />
          <p>TYPESCRIPT</p>
        </div>

       </div>

       <h3 class="other">OTHER SKILLS:</h3>
        <div class="fourth-line-icons">

          <div class="angie-image">
             <img class="ANGIELSKI" src="../images/ANGIELSKI-Icon.png" alt="img" />
             <p>ANGIELSKI C1/C2</p>
          </div>

          <div class="angie-image">
             <img class="Hispaniski" src="../images/Hispaniski-icon.png" alt="img" />
             <p>HISZPAŃSKI B1/B2</p>
          </div>

          <div class="angie-image">
             <img class="C++" src="../images/C ++ - icon.png" alt="img" />
             <p>C++</p>
          </div>

          <div class="angie-image">
             <img class="c-icon" src="../images/C-Icon.png" alt="img" />
             <p>C</p>
          </div>
        </div>
      </div>
      
      <div class="section3">
       <div class="section3-a">
          <div class="portfolio-contain">
            <div class="port-box">PORTFOLIO</div>
          </div>
       </div>
     </div>
    
     <div class="section-teni">
      <div class="coded-design">
        <p class="alls">ALL</p>
        <P class="codezz">CODED</P>
        <P class="designzz">DESIGN</P>
     </div>
   <div class="linee"></div>

    </div>

      <div class="section-4"></div>

      <div class="section-5">

        <div class="group-one">
          <img class="pic1" src="../images/Picture 1.png" alt="img" />
          <div class="pic2">
             <p class="codes">coded, designed</p>
             <p class="eat">eatsome</p>
             <p class="rest">Restaurant browsing in React.js (UsingYelp API)</p>
          
           <div class="demo-more">
             <div class="linus1"></div>
               <p class="demo">DEMO</p>
             <div class="linus2"></div>
             <div class="linus3"></div>
               <p class="more">MORE</p>
             <div class="linus4"></div>
           </div>
          </div>
          <img class="pic3" src="../images/picture 3 car.png" alt="img" />
        </div>
       </div>

        <div class="section-5b">
           <div class="group-two">
             <img class="pic4" src="../images/Picture 4.png" alt="img" />
             <img class="pic5" src="../images/picture 5.png" alt="img" />
             <img class="pic6" src="../images/Picture 6.png" alt="img" /> 
          </div>
        </div>


      </div>
      <div class="section-ten">
           <p>And many more to come!</p>
      </div>

      <div class="section-eleven">

        <div class="contact-contain">
          <div class="contact-box">CONTACT</div>
        </div>
       
        <div class="texts">
          <div class="text">
             <p class="text-p">Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra.
              In vel urna quis libero viverra facilisis ut ac est.</p>
           </div>
        </div>
      
        <div class="mobilee-3">
            <p class="threee-3"></p>
        </div>
          

        <div class="all-lines">
            <div class="container">
            <div class="line-container"></div>
              <p>ENTER YOUR NAME*</p>
            </div>

  
      
          <div class="container2">
            <div class="line-container2"></div>
            <p>ENTER YOUR EMAIL*</p>
          </div>
  
          <div class="container3">
            <div class="line-container3"></div>
            <p>PHONE NUMBER</p>
          </div>
  
          <div class="container4">
            <div class="line-container4"></div>
            <p>YOUR MESSAGE*</p>
          </div>
        </div>
        
        <div class="contain">
          <div class="line-contain1"></div>
          <p>SUBMIT</p>
          <div class="line-contain2"></div>
        </div>
      </div>
       
      <footer>
        <div class="section-twelve">
          <div class="this-arrow">
             <img src="../images/double arrow.png" alt="img" class="arrow">
          </div>
        
          <p class="back-to-top">BACK TO TOP</p>

          <div class="socials">
             <img class="facebook" src="../images/facebook-icon.png" alt="img" />
             <img class="in" src="../images/in-icon.png" alt="img" />
             <img class="instagram" src="../images/Instagram-icon.png" alt="img" />
             <img class="email" src="../images/Email-icon.png" alt="img" />
          </div>

          <div class="tomaz-reserve">
             <span><p class="tomasz">@2020 Tomasz Gajda</p></span>
          <div class="gap"></div>
             <span><p class="reserve"> All Rights Reserved.</p></span>
          </div>
        </div>
    </footer>
  </main>

  </body>
   
</html>